.drag {
  -webkit-app-region: drag;
  user-select: none;
}
.no-drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}
.bg {
  background-color: #fff;
}
.dark .bg {
  background-color: rgb(16, 16, 20);
}

.bg-gray {
  background-color: gainsboro;
}
.dark .bg-gray {
  background-color: rgb(16, 16, 20);
}

.hover-show-parent:hover .hover-show{
  visibility: visible;
}

.hidden-scroll::-webkit-scrollbar{
  display: none;
}
.hover-scroll::-webkit-scrollbar {
  display: none;
}
.hover-scroll:hover::-webkit-scrollbar {
  display: block;
}