.drag {
  -webkit-app-region: drag;
  user-select: none;
}
.no-drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}

@font-face{
  font-family: JetBrainsMono;
  src: url("/fonts/JetBrainsMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}